# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.PhysicsUnity.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\s200498\Desktop\PhysicsUnity\.idea\.idea.PhysicsUnity.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
