# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PhysicsUnity.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mcsor\Desktop\PhysicsUnity\.idea\.idea.PhysicsUnity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
